@import './src/components/panel/MenuPanel';
@import './src/components/CreateForm/CreateForm';
@import './src/components/DeleteModal/DeleteModal';
@import 'variebles';

body {
    margin: 0;
}

.header {
    height: 470px;
    width: auto;
    background-image: url('https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/hero-background.jpg');
}

.header-title {
    color: $color-button;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
}

.title {
    text-transform: uppercase;
    font-size: 35px;
    color: $white;
    padding: 110px 0 0 112px;
}

.search {
    padding: 36px 0 0 112px;
}

.search-input {
    width: 714px;
    height: 56px;
    border-radius: 3px;
    color: $white;
    background: rgba(255, 255, 255, 0.5);
}

.MuiButtonBase-root.search-button {
    margin: 0 0 0 14px;
    width: 256px;
    height: 56px;
}

.movies-item {
    color: $white;
    margin-left: 40px;
}

.found-movies {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: $color-background;
}

.title-found-movie {
    padding: 0 0 0 112px;
    color: $white;
    font-weight: 600;
}

.sort {
    display: flex;
    align-items: center;
    margin: 0 20% 0 0;
    text-transform: uppercase;
}

.sort-by {
    color: $white;
}

.container {
    width: 100%;
    height: auto;
    background: #232323;
}

.contant {
    position: relative;
    cursor: pointer;
    display: inline-block;
    color: $white;
    margin: 30px 0 0 70px;

    &:last-child {
        margin: 30px 0 70px 70px;
    }
}

.MuiListItem-button {
    display: block !important;
}

.menu {
    position: absolute;
    right: 0;
}
.poster {
    width: 510px;
    height: 760px;
    background: no-repeat;
    margin: 0 0 25px 0;
}

.poster-small {
    width: 270px;
    height: 314px;
    background: no-repeat;
    margin: 0 0 25px 25px;
}

.movie-title {
    justify-content: space-between;
    display: flex;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 10px 0;
}

.year {
    border: solid 1px #DDD;
    border-radius: 5px;
    padding: 5px;
}

.footer {
    align-items: center;
    display: flex;
    justify-content: center;
    color: $white;
    text-transform: uppercase;
    background-color: #555;
    height: 70px;
}

.no-films {
    height: 400px;
    color: $white;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #232323;
}

.film {
    padding: 30px;
    color: $white;
    display: flex;
}

.film-info {
    margin: 0 0 0 65px;
    width: 710px;
}

.title-id {
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    margin: 0 0 25px 0;
}

.score {
    font-size: 20px;
    border-radius: 50%;
    padding: 20px;
    border: 1px solid $white;
    color: #a1e66f;
    margin: 0 0 0 25px;
}

.date {
    font-size: 25px;
    margin: 35px 0;
    color: #f65261
}

.home {
    position: absolute;
    right: 35px;
    top: 42px;
}

$darkNavy: #213140;
$teal1: #F65261;
$teal2: #F65261;
$charcoal: #555555;
$gold: #B6985A;

$activeShadow: 0 0 10px rgba($teal1, .5);
@mixin focusOutline {outline: dotted 1px #CCC; outline-offset: .45rem;}
@mixin hideInput {width: 0; height: 0; position: absolute; left: -9999px;}
@mixin breakpoint($point) {
    @if $point == 1100 {
        @media (max-width: 1100px) { @content ; }
    }
    @else if $point == 800 {
        @media (max-width: 800px) { @content ; }
    }
}

.toggle {
    margin: 0 20px; box-sizing: border-box;
    font-size: 0;
    display: flex; flex-flow: row nowrap;
    justify-content: flex-start; align-items: stretch;
    input {@include hideInput;}
    input + label {
        margin: 0; padding: 8px 20px; box-sizing: border-box;
        position: relative; display: inline-block;
        border: solid 1px #DDD; background-color: rgba(255, 255, 255, 0.5);
        font-size: 1rem; line-height: 140%; text-align: center;
        box-shadow: 0 0 0 rgba(255,255,255,0);
        transition: 	border-color .15s ease-out,
        color .25s ease-out,
        background-color .15s ease-out,
        box-shadow .15s ease-out;
        &:first-of-type {border-radius: 6px 0 0 6px; border-right: none;}
        &:last-of-type {border-radius: 0 6px 6px 0; border-left: none;}
    }
    input:hover + label {border-color: $darkNavy;}
    input:checked + label {
        background-color: $teal2;
        color: #FFF;
        box-shadow: $activeShadow;
        border-color: $teal2;
        z-index: 1;
    }
    input:focus + label {@include focusOutline;}

    @include breakpoint(800) {
        input + label {
            padding: 8px 20px;
            flex: 0 0 50%;
            display: flex; justify-content: center; align-items: center;
        }
    }
}
